<div id="home-content">
    <div id="create-new-alarm">
        <div>
            <select id="input-ampm">
                <option value="AM">AM</option>
                <option value="PM">PM</option>
            </select>
            <input id="input-hour" type=number value=1 min=1 max=12>
            <input id="input-minute" type=number value=0 min=0 max=50 step=10> 
        </div>
        <div id="save-button">
            <button>Save</button>
        </div>
    </div>
    <div id="alarm-list">
    </div>
</div>
